@page "/marcas"

<h3>Marcas</h3>

<DataGrid TItem="Marca"
          Data="IQueryableMarcas"
@bind-SelectedRow="MarcaAtual"
          Editable
          Responsive
          ShowPager
          CommandMode="DataGridCommandMode.ButtonRow">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(Marca.Id)" Caption="Id" Sortable="true" Editable />
        <DataGridColumn Field="@nameof(Marca.Nome)" Caption="Marca" Sortable="true" Editable />
    </DataGridColumns>
    <ButtonRowTemplate>
        <Button Color="Color.Success" Clicked="Novo">Novo</Button>
        <Button Color="Color.Primary" Disabled="(MarcaAtual?.Nome is null)" Clicked="ShowModal">Editar</Button>
        <Button Color="Color.Danger" Disabled="(MarcaAtual?.Nome is null)" Clicked="ShowModalApagar">Apagar</Button>
    </ButtonRowTemplate>
</DataGrid>

<Modal @ref="ModalCRUD">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Marca</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Id</FieldLabel>
                <NumericEdit Placeholder="Id..." @bind-Value="MarcaAtual!.Id" Disabled/>
            </Field>
            <Field>
                <FieldLabel>Marca</FieldLabel>
                <TextEdit Placeholder="Marca..." @bind-Text="MarcaAtual!.Nome" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@Cancelar">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="@Salvar">Salvar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="ModalApagar">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Deseja apagar esse registro?</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalFooter>
            <Button Color="Color.Light" Clicked="HideModalApagar">Não</Button>
            <Button Color="Color.Danger" Clicked="@(async () => await Apagar(MarcaAtual!))">Sim</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
