@page "/modelos"

<h3>Modelos</h3>

<QuickGrid Items="IQueryableModelos">
    <PropertyColumn Property="@(c => c.Id)" />
    <PropertyColumn Property="@(c => c.Nome)" />
    <PropertyColumn Property="@(c => c.IdMarca)" />
    <TemplateColumn Title="Ação">
        <button onclick="@(() => Editar(context))">Editar</button>
        <button onclick="@(async () => await Apagar(context))">Apagar</button>
    </TemplateColumn>
</QuickGrid>

<InputText @bind-Value="@ModeloAtual!.Nome" DisplayName="Nome" />
<InputNumber @bind-Value="@ModeloAtual!.IdMarca" DisplayName="Id Marca" />
<button onclick="@(async () => await Salvar())">Salvar</button>

